<!-- DO NOT CHANGE THE LOG FORMAT WITHOUT ADAPTING THE PARSING STAGE IN PROMTAIL! -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- uses ISO8601 date format -->
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</timestampPattern>
            <fieldNames>
                <timestamp>time</timestamp>
                <version>version</version>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>