<!-- DO NOT CHANGE THE LOG FORMAT WITHOUT ADAPTING THE PARSING STAGE IN PROMTAIL! -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Standard fields provided by logstash encoder:
                 - @timestamp
                 - @version
                 - message
                 - logger_name
                 - thread_name
                 - level
                 - level_value
                 - stack_trace (only on errors)
                 https://github.com/logfellow/logstash-logback-encoder/tree/logstash-logback-encoder-7.4?tab=readme-ov-file#standard-fields
                 The logstash encoder also provides all keys/values of th MDC context (e.g. requestId) -->

            <!-- uses ISO8601 date format -->
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</timestampPattern>
            <!-- provide the keys we expect in promtail/loki -->
            <fieldNames>
                <timestamp>time</timestamp>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>